html, body, :root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}


.Loader {
  display: flex;
  justify-content: center;
  align-items: top;
  padding: 100px 0 0 0;
  height: 100vh;
  font-size: large;
  background-color: #0066cc;
  text-align: top;
  font-size: 120px;
  font-style: italic bold;
  font-weight: 900;
  color: white;
  font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 13px;
  text-align: center;

}

.Navbar {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  position: fixed;
  z-index: 999;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 20px 95px 20px 90px;
  /* box-shadow: 0 2px 4px #2db8f4; */
  border: #2db8f450 2px solid;

}

.Navbar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  gap: 7px;
  
}

.Navbar-logo img{
  width: 30px;
  height: 30px;
}

.Navbar-logo h1 {
  /* font-size: 2rem; */
  color: black;
  text-decoration: none;
  /* margin-left: 10px; */
}

.Navbar-links {
  display: flex;
  list-style: none;
  gap: 20px; /* Space between menu items */
  justify-content: center;
  padding: 18px;
  margin: 0;
}
 
.Navbar-links li a {
  position: relative;
  text-decoration: none;
  /* font-family: 'Poppins', sans-serif; */
  color: black;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 0 3px;
}

.Navbar-links li a:after {
  content: "";
  position: absolute;
  background-color: #2db8f4;
  height: 3.5px;
  width: 100%;
  left: 0;
  bottom: -7.9px;
  transform: scaleX(0);
  transition: 0.3s ease-in-out;
}

.Navbar-links li a:hover:after {
  width: 100%;
  transform: scaleX(1);
}

.Navbar-links li a.active {
  color: rgba(1,107,202,255);
  font-weight: bold;
}

.Navbar-contact-us{
  height: 41px;
  width: 144px;
  border-radius: 20px;
  background-color: rgba(1,107,202,255);
  color: white;
  font-weight: normal;
  font-size: 20px;
  font-weight: 525;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  height: 205vh;
  padding-top: 60px;
  /* background-color: #f0f0f0; */
  text-align: center; 
}

.heroheading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: 54.5px;
  padding: 0 0 0 0;
  margin-left: 25px;
  color: #333;
  width: 100%;
  height: 50px;
  margin-bottom: -10px;
   
}

.heroheading span {
  color: rgba(1,107,202,255); /* Blue text */
}

.heroheading h1 {
  margin-bottom: 20px;
  padding-top: 50px;
  font-size: 52px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heroheading h3 {
  font-size: 21px;
  font-weight: 100;
  color: black; /* Blue text */
  margin-bottom: 0px;
  padding-top: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.circular-menu {
  /* bottom: 20px;
  right: 20px; */
  width: 740px;
  height: 350px;
  border-radius: 1500px 1500px 0 0;
  margin-top: 370px;
  padding-top: 0;
  background-color: rgba(1,107,202,255); /* Blue background */
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0px 4px 8px rgba(0,0,0,0.2); */
  background: linear-gradient(to bottom, #0066cc 25%, #ffffff 100%);
}

.circular-menu-line {
  width: 590px;
  height: 318px;
  border-radius: 800px 800px 0 0;
  margin-top: 100px;
  padding-top: 0;
  position: relative;
  background-color: rgba(1,107,202,255);
  border: #ffffff 2px solid;
  background: transparent;
}

.icon-holder {
  position: absolute;
  width: 75px;
  height: 75px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: width 1.4s ease, height 1.4s ease;
}

.icon-holder.active {
  height: 85px;
  width: 85px;
  transform: translateY(-10px);
 
}

.icon{
  height: 55px;
  width: 55px;
 
}

.icon-holder:nth-child(1) { top: 150px;  left: -15px; }
.icon-holder:nth-child(2) { top: 58px;   left: 45px; }
.icon-holder:nth-child(3) { top: -13px;  left: 135px; }
.icon-holder:nth-child(4) { top: -40px;  left: 250px; }
.icon-holder:nth-child(5) { top: -13px;  right: 135px; }
.icon-holder:nth-child(6) { top: 58px;   right: 45px; }
.icon-holder:nth-child(7) { top: 150px;  right: -15px; }

.description{
  background-color: transparent;
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  width: 100%;
  z-index: 1;
  position: relative;
  top: -50px;
  opacity: 0;
  scale: 0;
}
.description.active{
  opacity: 1;
  scale: 1;
}
.description_heading{
  top: -50px;
  position: absolute;

}
.description_headingspan{
  font-size: 54px;
  color: black;
}
.description_heading h1{
  font-size: 56px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0066cc; 
  margin: 0 0 0 0; 
  padding: 0 0 0 0;
}
.description_heading h3{
  font-weight: 100;
  font-size: 16px;
  margin: 0 0 0 0; 
  padding: 15px 0 0 0;
}
.cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 500px;
  padding: 200px 0 0 0;


}
.card{
  background-color: #F8f8f8;
  border-radius: 30px;
  width: 400px;
  height: 426px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap: 20px;


}
.card img{
  width: 75px;
  height: 105px;
  padding-top: 30px;
  
}
.card label{

  /* padding: 35px 0 0 0; */
  font-size: 24px;
  font-style: bold;
  color: #0066cc;
  font-weight: 700;

  
}
.card ul {
  /* list-style-position: outside; */
  padding-left: 60px;
  align-items: center;
}
.card ul li{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  word-spacing: -2%;
  padding-right: 30px;
  text-align: left;
  margin-bottom: 20px;
  list-style-type: disc;
}
.card ul li::marker {
  color: #686868;
  /* font-size: 40px;  */
  /* margin-right: 0; */
}
.card_span{
  font-size: 18px;
  color: #686868;
  font-style: bold;
  font-weight: 700;
  word-spacing: -2%;

}
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 870px;
}
.rectangle{
  height: 370px;
  width: 1248px;
  border-radius: 30px;
  background-color: #0E43E1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  text-align: center;
}

.rectangle h1{ 
  color: white; 
  font-size: 70px; 
  margin: 30px 0 0 0;
  padding:  0 0 0 0;
}
.rectangle h3{
  color: white; 
  font-size: 20px; 
  margin: 30px 0 0 0;
  padding: 0 0 0 0;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
}
.rectangle a{ 
  width: 144px; 
  height: 41px; 
  border-radius: 20px; 
  color: #0E43E1; 
  text-decoration: none;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin: 30px 0 30px 0;
  padding: 0 0 0 0;
}

.ending{
  display: flex;
  justify-content: start;
  width: 100%;
  height: 387px;
  background-color: #CCCCCC;
}

.front{
  margin-left: 100px; 
  margin-top: 42px;
  margin-right: 20px;
}

.front img{
  height: 75px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.front h3{
  padding-top: 10px;
  font-style: normal;
  font-weight: 100;
  letter-spacing: -2%;
  font-size: 20px;
  padding: 0 0 0 0;
  margin: 10px 0 15px 0;
}

.front ul{
  list-style: none;  
  padding: 0;
  margin: 0;
}

.front li{
  display: inline-block;
  margin-right: 20px;
}

.front li img{
  width: 20px;
  height: 20px;
  margin:  0 0 0 0;
}

.middle{
  margin-right: 100px;
  margin-top: 42px;
  margin-left: 170px;
}

.middle label{
  font-style: bold;
  font-size: 28px;
  letter-spacing: -2%;
  font-weight: 900;
}
.middle ul{
  list-style: none;  
  padding: 2px 0 0 0;
  margin: 0;
  
}
.middle ul li{
  margin: 12px 0 0 3px;
}

.middle ul li a{
  text-decoration: none;
  color: black;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: -2%;
}

.last{
  margin-right: 70px;
  margin-top: 42px;
}

.last label{
  font-style: bold;
  font-size: 28px;
  letter-spacing: -2%;
  font-weight: 900;
}
.last ul{
  list-style: none;  
  padding: 20px 0 0 0;
  margin: 0;
}
.last ul li{
  margin: 10px 0 0 0px;
}
.last ul li img{ 
  width: 18px; 
  height: 18px; 
  padding: 0 0 0 0;
  margin: 0 10px 0 0;
}
.last ul li a{
  text-decoration: none;
  color: black;
  font-weight: 200;
  font-size: 18px;
  letter-spacing: -2%;
}
